@tailwind base;
@tailwind components;
@tailwind utilities;

/* === FIX para inputs con autocompletado === */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #111827 !important; /* text-gray-900 */
  caret-color: #4f46e5 !important; /* Indigo-600 */
  transition: background-color 9999s ease-in-out 0s;
}

/* Placeholder visible siempre */
::placeholder {
  color: #6b7280; /* placeholder-gray-500 */
  opacity: 1;
}
