@tailwind base;
@tailwind components;
@tailwind utilities;

/* === FIX TOTAL INPUTS === */
input,
textarea,
select {
  color: #111827 !important; /* gris oscuro */
  background-color: #ffffff !important;
  caret-color: #4f46e5 !important; /* indigo */
}

/* Autofill Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #111827 !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  caret-color: #4f46e5 !important;
  transition: background-color 9999s ease-in-out 0s;
}

/* Placeholder visible */
::placeholder {
  color: #6b7280;
  opacity: 1;
}
